body.home
{
	margin-left 		: 35px;
	margin-top 		: 15px;
	font-family 		: Arial,Helvetica,Garuda,sans-serif;
}

body.home .wrapper
{
	width 			: 800px;
}

body.home img.name
{
	padding 		: 10px 0 0 0;
}

body.home img.profile
{
	margin 			: 0 0 0 2px;
	border 			: 2px solid black;
	padding 		: 2px;
	float 			: left;
}

body.home img.g-cs
{
	float 			: left;
	padding 		: 5px 0 0 15px;
	margin 			: 0 250px 0 0;
}


body.home .wrapper img.g
{
	height 			: 100px;
	float 			: right;
}

body.home .wrapper p.bio
{
	width 			: 500px;
	padding 		: 0 0 0 220px;
	text-align 		: justify;
}

body.home p.address
{
	float 			: left;
	width 			: 200px;
	height 			: 60px;
	font-size 		: 0.8em;
	text-align 		: center;
	padding 		: 0 10px 0 0;
	border-right 		: 1px solid black;
}

body.home p.contact
{
	float 			: left;
	width 			: 200px;
	height 			: 60px;
	font-size 		: 0.8em;
	text-align 		: center;
	border-right 		: 1px solid black;
}


/*****************
 * Nav Links
 ****************/
body.home ul
{
	height 			: 60px;
	padding 		: 15px 0 0 0;
	display 		: inline;
	list-style 		: none;
	float: left;
}

body.home li
{
	display 		: inline;
	list-style 		: none;
	padding 		: 20px 50px;
	/*font-variant 		: small-caps;*/
	font-size 		: 0.95em;
}

body.home li a
{
	font-weight 		: bold;
	color 			: blue;
	text-decoration 	: none;
	border-bottom 		: 2px solid blue;
}

body.home li a:hover
{
	font-weight 		: bold;
	color 			: #0099FF;
	text-decoration 	: none;
	border-bottom 		: none;
}
